@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
/* Colors */
:root {
  --bg-primary: #1e40af;
  --bg-secondary: #041035;
  --bg-neutral: #eaedf7;
  --bg-danger: #d9534f;
  --bg-link: #0000EE;

  --btn-primary: #337ab7;
  --btn-primary-hover: #296293;
  --btn-info: #fdda0d;
  --btn-info-hover: #e0cf10;
  --btn-success: #5cb85c;
  --btn-success-hover: #46a046;
  --btn-danger:#d9534f;
  --btn-danger-hover:#ce312c;
}
/* Generic Buttons */
.btn-primary {
  background-color: var(--btn-primary);
  color: white;
}
.btn-primary:hover {
  background-color: var(--btn-primary-hover) !important;
}
.btn-info {
  background-color: var(--btn-info);
  color: black;
}
.btn-info:hover {
  background-color: var(--btn-info-hover) !important;
}
.btn-success {
  background-color: var(--btn-success);
}
.btn-success:hover {
  background-color: var(--btn-success-hover) !important;
}
.btn-danger{
  background-color: var(--btn-danger);
  color:white
}
.btn-danger:hover{
  background-color: var(--btn-danger-hover) !important;
}

/* Generic Button - devExtrene */
.dx-button-mode-contained .dx-icon {
  color: inherit !important;
}
.btn-primary .dx-button-content {
  background-color: var(--btn-primary);
  border-color: var(--btn-primary);
  color: white;
}

.btn-info .dx-button-content {
  background-color: var(--btn-info);
  border-color: var(--btn-info);
  color: black;
}

.btn-success .dx-button-content {
  background-color: var(--btn-success);
  border-color: var(--btn-success);
  color: white;
}
.btn-danger .dx-button-content{
  background-color: var(--btn-danger);
  border-color: var(--btn-danger);
  color: white;
}
/* Generic rules tailwind */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Generic text */
.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.span{
  font-weight: bold;
}

/* Badgrounds */
.bg-default {
  background: url("../public/images/fondo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-neutral{
  background-color: var(--bg-neutral);
}

/* Generic elemets */
.card {
  background-color: white;
  border-radius: 1rem;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.link{
  color: var(--bg-link);
}
